/* 
    Created on : Jun 15, 2018, 2:05:11 PM
    Author     : Christopher
*/
.center-content {
    text-align: center;
}
.text-center {
    text-align: center;
}
.img-center {
    margin: 0 auto;
}
.el-hidden {
    display: none;
}
.text-size-12 {
    font-size: 12px;
}
.text-size-14 {
    font-size: 14px;
}
.text-size-16 {
    font-size: 16px;
}
.text-size-18 {
    font-size: 18px;
}
.medium-title {
    color: rgba(0, 0, 0, 0.54);
    margin: 32px 16px 16px;
    line-height: 20px;
    font-weight: 500;
    font-size: 18px;
}
[data-name='login'] {
    .login-screen-title {
        text-align:center;
        img {
            width: 150px;
            max-width: 90%;
            margin: 0 auto;
        }
    }
    #recapture-container {
        width: 300px;
        max-width: 100%;
        overflow: hidden;
    }
}
#main-panel {
    .content-block {
        .panel-header {
            height: 110px;
            background-color: #000;
            padding: 15px 15px 20px 15px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            align-content: flex-end;
            .profile-container {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                align-content: center;
                img {
                    width: 60px;
                    border-radius: 60px;
                    margin-right: 15px;
                }
                .panel-title {
                    color: #fff;
                    overflow: hidden;
                    margin: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    font-size: 18px;
                    font-weight: 400;
                }
            }
        }
    }
}
.scan-qr-btn {
    display: inline-block;
    max-width: 250px;
    margin: 0 auto;
    min-height: 60px;
    font-size: 1.2em;
}
.image-wrapper {
    color: rgba(0, 0, 0, 0.54);
    margin: 32px 16px 16px;
    line-height: 20px;
    font-weight: 500;
    font-size: 18px;
    img {
        width: 180px;
    }
}
.quiz-title {
    min-height: 35px;
    padding-left: 16px;   
    border-bottom: 1px solid rgb(169, 165, 165);
}
.quix-btn-container {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-top: 16px;
    margin-top:15px;
    text-align:center;
    button {
        width: 200px;
        margin: 0 auto;
    }
}